html
{
    background-color: rgb(50, 50, 50);
}

.button
{
    background-color: rgb(0, 140, 210);
    border-radius: 8px;
    min-width: 50px;
    min-height: 20px;
}

.button:hover
{
    background-color: rgb(0, 100, 170);
    border-style: solid 2px white;
}