@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik";
}

body {
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(#020d1c, #041d3e);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

header a {
    font-size: 24px;
    color: white;
    font-weight: 700;
}

nav a {
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    padding: 10px 30px;
    border: 2px solid var(--clr);
    transition: .3s ease;
}

nav a span {
    position: relative;
    z-index: 1;
}

nav a i {
    position: absolute;
    inset: 0;
    display: block;
}

nav a:hover {
    color: white;
    box-shadow: 0 0 35px var(--clr);
    border: 2px solid var(--clr);
}

nav a i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: var(--clr);
    transform: translateX(-50%);
    transition: .5s ease;
}

nav a:hover i::before {
    width: 20px;
    left: 20%;
}

nav a i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: var(--clr);
    transform: translateX(-50%);
    transition: .5s ease;
}

nav a:hover i::after {
    width: 20px;
    left: 80%;
}

main {
    margin: 100px;
    padding-top: 20px;
}

h2 {
    color: #ddd;
    text-decoration: underline;
}

p {
    font-size: 18px;
    font-weight: 600;
    color: #aaa;
    transition: .5s ease;
}

p:hover {
    color: #eee;
}

#effectframe {
    border: 2px solid var(--clr);
    padding: 10px;
    width: 100px;
    color: #eee;
    transition: .5s ease;
}

#effectframe:hover {
    box-shadow: 0 0 35px var(--clr);
}

#pastwork-main {
    margin-top: 20px;
    width: 50%;
}

#pastwork-main #effectframe {
    margin-right: 20px;
    text-decoration: none;
}

#home-p {
    width: 50%;
}

@media (width < 1000px) {
    nav a {
        display: none;
    }

    p {
        font-size: 16px;
    }

    main {
        margin-left: 75px;
        margin-right: 75px;
    }

    #home-p {
        width: 75%;
    }

    header {
        padding: 30px 75px;
    }

    h2 {
        font-size: 20px;
    }
}

@media (width < 850px) {
    p {
        font-size: 14px;
    }

    main {
        margin-left: 50px;
        margin-right: 50px;
    }

    #home-p {
        width: 100%;
    }

    header {
        padding: 30px 50px;
    }

    h2 {
        font-size: 18px;
    }
}